@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}


.header {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
    border: 5px;
    border-color: black;
  }

 /* .header a{
    color: beige;
    font-family: bebas Neue;
    text-decoration: none;
    font-size: 25px;
  }*/

  .nav{
    padding: 7px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }

  .nav a{
    text-decoration: none;
    color: bisque;
  }

  .logo{
    text-align: center;
    
  }
  
  .logo a{
    font-size: 25px;
    text-decoration: none;
    color: bisque;
    font-family: 'Montserrat', sans-serif;
}
/* .header a {
    display:inline-block;
    color: white;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 15px;
    border-radius: 2px;
  }
  
.header a.logo {
    font-size: 28px;
    letter-spacing: 1px ;
    font-family: BEBAS;
    color: white;
  }
  
.header a:hover {
    background-color: #ff0055;
    transition-duration: 1s;
    transition-duration: 1s;
    border-radius: 45px; 
    color: white;
  }
  
.header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
.header-right {
  padding-left: -100px;
    float: right;
    font-family: Montserrat;
    color: white;
  }*/

.divider{
    background-color: red;
    height: 5px;
  }

.border{
    height: 5px;
    background-color: firebrick;
}

.navigation {
    height: 75px;
    background-color: rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
    list-style-type: none;
    justify-content: space-between;
}

.title {
    font-size: 25px;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    color: blanchedalmond;
    
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  display: block;
}

.titles{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
}
.discription{
  font-family: 'Rubik', sans-serif;
  padding-bottom: 50px;
  font-size: 12px;
}
.links{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: crimson;
}